/* First Button */
.first-button {
    position: relative;
    margin-top: 50px;
    margin-left: 75px;
    padding: 10px 22px;
    background-color: #0091fb;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.first-button:active {
    transform: scale(0.96);
}

.first-button::before,
.first-button::after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform:translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.first-button.first-button_animate::before {
    bottom: 70%;
    background-image: radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0091fb 15%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%);
    background-size: 18% 18%, 20% 20%, 15% 15%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: blueTopBubbles ease-in-out .6s backwards infinite;
    transform: rotate(180deg) translateX(50%);
}

.first-button.first-button_animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0091fb 15%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%),
    radial-gradient(circle, #0091fb 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: blueBottomBubbles ease-in-out .6s forwards infinite;
}

@keyframes blueBottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes blueTopBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}